<div class="header-content">
  <div class="logo">
    <h1>
      <a href="index.html" style="text-decoration: none; color: inherit">gg Setup Overview</a>
    </h1>
  </div>
  <nav>
    <ul>
      <!-- <li><a href="dev-tool/coord-tool.html">Dev Tool</a></li> -->
      <li><a href="about.html">About</a></li>
      <li><a href="disclaimer.html">Disclaimer</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <!-- Language Selector -->
  <div id="languageFrame" class="language-frame">
    <a href="#" data-lang="en">English</a>
    <a href="#" data-lang="ms">Bahasa</a>
    <!-- Add more language links here -->
  </div>
</div>
